@import "_variables";
/**
 * Styles for the Solitaire game itself.
 *
 * These were tested on Chrome v61.0 only, but I suppose it is responsive
 * and everything should work on latest versions of other browsers as well.
 * The only issue I can imagine would be card suits icons as they might be
 * rendered differently, because they don't fall under the Cairo font.
 */

.game {
  overflow: auto;
  width: 100%;
  max-width: 1600px;
  height: 110vh;
  margin: auto;

  /**
   * Defining the skelet of game.
   *
   */

  .deck {
    flex: 3;
  }

  .flush {
    flex: 4;
  }

  .flex-row {
    display: flex;
    width: 100%;
  }

  .register {
    flex: 1;
    border: 2px solid $link;
    border-radius: $radius;
    box-sizing: border-box;
    margin: 5px 10px;
    height: 300px;
  }

  .deck, .flush {
    .info {
      border: none;
      font-variant: small-caps;
      font-size: 130%;
      text-align: center;

      div {
        padding-top: 50px;
      }
    }

    .register {
      overflow: hidden;
      .card {
        display: none;
      }

      .card:last-child {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  /**
   * Card stacking effect is only desired for bottom 7 piles.
   */
  .piles .card {
    max-height: 300px;
    height: $card-header;
    box-sizing: border-box;

    .optional {
      display: none;
    }

    &:first-child {
      border-top-right-radius: $radius;
      border-top-left-radius: $radius;
    }

    &:last-child {
      height: 100%;
      border-bottom-right-radius: $radius;
      border-bottom-left-radius: $radius;

      .optional {
        display: flex;
      }
    }
  }

  /**
   * Overall card styling that is same for every card.
   */
  .card {
    overflow: hidden;
    background-color: white;
    cursor: pointer;

    &.active {
      background-image: url("../../img/card_bg.png");
    }

    &.flipped {
      background-image: url("../../img/flipped_bg.png");
      background-color: $dark;

      .flex-row {
        display: none;
      }
    }

    // There are 3 flex-rows in each card.
    .flex-row {
      flex: 1;
      height: 33%;

      &:last-child {
        align-items: flex-end;
      }

      &.big {
        text-align: center;
        font-weight: bold;
        font-size: 45px;
      }

      span {
        width: 100%;
        padding: 10px;
        font-size: 140%;
      }
    }
  }

    /**
     * Alert box that covers whole game screen. It is kind of hard coded.
     * TODO: Make alert box smaller, remove absolute position and make
     *       the game not render via Vue.js if alert is shown.
     */
    .alert {
      position: absolute;
      width: 1600px;
      height: 110vh;
      text-align: center;
      font-size: 25px;

      p {
        padding-top: 150px;
      }
    }
}
