@import "_variables";

.game {
  overflow: auto;
  width: 1600px;
  height: 110vh;
  margin: auto;

  .alert {
    position: absolute;
    width: 1600px;
    height: 110vh;
    text-align: center;
    font-size: 25px;

    p {
      padding-top: 150px;
    }
  }

  .flex-row {
    display: flex;
    width: 100%;
  }

  .deck {
    flex: 3;
  }

  .flush {
    flex: 4;
  }

  .deck, .flush {
    .info {
      border: none;
      font-variant: small-caps;
      font-size: 130%;
      text-align: center;

      div {
        padding-top: 50px;
      }
    }

    .pile {
      overflow: hidden;
      .card {
        display: none;
      }

      .card:last-child {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .piles {
    .card {
      max-height: 300px;
      height: $card-header;
      box-sizing: border-box;

      .optional {
        display: none;
      }

      &:first-child {
        border-top-right-radius: $radius;
        border-top-left-radius: $radius;
      }

      &:last-child {
        height: 100%;
        border-bottom-right-radius: $radius;
        border-bottom-left-radius: $radius;

        .optional {
          display: block;
        }
      }
    }
  }

  .pile {
    flex: 1;
    border: 2px solid $link;
    border-radius: $radius;
    box-sizing: border-box;
    margin: 5px 10px;
    height: 300px;
  }

  .card {
    background-color: white;
    cursor: pointer;

    &.active {
      background-image: url("../../img/card_bg.png");
    }

    &.flipped {
      background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
      background-color: $dark;

      .flex-row {
        display: none;
      }
    }

    .flex-row {
      flex: 1;
      height: 33%;

      &:last-child {
        align-items: flex-end;
      }

      &.big {
        text-align: center;
        font-weight: bold;
        font-size: 60px;
        align-items: center;
      }

      div {
        width: 100%;
        padding: 10px;
        font-size: 140%;
      }
    }
  }
}
