@import url(https://fonts.googleapis.com/css?family=Cairo:300,400,700);

@import "_variables";

@import "_forms";

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: Cairo, sans-serif;
  color: $dark;
  background-color: $light;
  user-select: none;
}

.text-left {
  text-align: left;
}

.danger {
  color: $danger;
}

.bg-danger {
  background-color: lighten($danger, 5);
}

/**
 * Navigation panel.
 */
.nav {
  width: 100%;
  align-self: flex-start;
  margin-top: 8px;
  display: flex;

  div {
    flex: 1;

    &:last-child {
      text-align: right;
      flex: 2;
      justify-content: right;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      font-size: 26px;
      padding: 8px 18px;
      font-variant: small-caps;
      opacity: .8;

      &:hover {
        opacity: 1;
        background-color: $dark;
        color: $light;
      }
    }
  }
}

/**
 * Footer block.
 */
.footer {
  align-self: flex-end;
  width: 100%;
  height: 15vh;
  background-color: $dark;
  color: $light-grey;
  display: flex;

  div {
    height: 15vh;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 150px;
  }

  .github {
    color: $light-grey;

    &:hover {
      color: $link;
    }
  }

  .copy {
    font-size: 14px;
    font-style: italic;
  }
}

#app {
  width: 100%;
}

@import '_auth';
