@import url(https://fonts.googleapis.com/css?family=Cairo:300,400,700);

@import "_variables";

@import "_forms";

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: Cairo, sans-serif;
  color: $dark;
  background-color: $light;
  user-select: none;
}

/**
 * Universal helpers.
 */
.text-left {
  text-align: left;
}
.danger {
  color: $danger;
}
.bg-danger {
  background-color: lighten($danger, 5);
}

/**
 * All files are merged to one and minified for better performance, as in
 * HTTP 1.0 it's faster to load one larger file than multiple small one.
 * This is going to change with HTTP 2.0, but this application runs on 1.0.
 */
@import '_nav';

@import '_content';

@import '_footer';
